<div class="modal">
    <div class="modal__content modal__content--contact">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="закрыть" />
        </button>

        <form action="/" method="post" class="form form">
            <div class="form__group form__group--md">
                <input
                    class="form__control"
                    type="text"
                    placeholder="Вашe имя"
                />
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <input
                    class="form__control"
                    type="email"
                    placeholder="Ваш e-mail"
                />
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <textarea
                    class="form__control form__control--textarea"
                    placeholder="Текст сообщения"
                ></textarea>
                <span class="form__line"></span>
            </div>

            <div class="form__footer form__footer">
                <div class="form__group form__group--md">
                    <button
                        class="btn btn--blue btn--rounded btn--sm"
                        type="submit"
                    >
                        Отправить
                    </button>
                </div>
            </div>
        </form>
        <ul class="modal__footer">
            <li>
                e-mail:
                <a href="mailto:">vadik.coder@gmail.com</a>
            </li>
            <li>
                тел:
                <a href="tel:87024066757">87024066757</a>
            </li>
        </ul>
    </div>
    <!--modal__content-->
</div>
<!--modal-->
